:root {
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-size-base: 16px;
    --primary-background: #ffffff;
    --button-color: #30b868;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.anchors {
    display: flex;
    gap: 2rem;
}

.anchors a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: var(--font-size-base);
    font-family: var(--font-family);
}

.nav-button a {
    width: 164px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: var(--button-color);
    border: 2px solid var(--button-color);
    font-family: var(--font-family);
}

.nav-button a:hover {
    color: var(--button-color);
    transition: 400ms;
    background-color: transparent;
}

/* hero section design  */

#hero {
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: bottom center;
    height: auto;
    padding: 5rem 0;
    text-align: center;
}

.hero-button {
    width: fit-content;
    padding: 12px 16px 12px 16px;
    border-radius: 35px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    background-color: white;
    border: 2px solid var(--button-color);
    font-family: var(--font-family);
}

.hero-button a {
    text-decoration: none;
    color: var(--button-color);
}

.hero-button:hover {
    background-color: var(--button-color);
    transition: 400ms;
}

.hero-button a:hover {
    color: white;
    transition: 350ms;
}

/* .hero-content {
    margin: 1rem 0 0 0;
} */

.hero-content h2 {
    font-size: 72px;
    font-family: var(--font-family);
    font-size: 70px;
    font-weight: 900;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.hero-content span {
    color: var(--button-color);
}

.hero-content p {
    font-size: 20px;
    color: white;
    line-height: 38px;
}

.joint-button {

    display: inline-flex;
    align-items: center;
    gap: 9px;

}

.btn-one {
    background-color: var(--button-color);
    color: white;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    padding: 12px 16px 12px 16px;
    gap: 8px;
    background-color: var(--button-color);
    border: 2px solid var(--button-color);
    font-size: 15px;
    font-weight: 500;
    border-radius: 6px;
}

.btn-one:hover {
    background-color: white;
    color: var(--button-color);
    transition: 400ms;
}

.btn-two {
    background-color: transparent;
    color: white;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    padding: 12px 16px 12px 16px;
    gap: 8px;
    border: 2px solid white;
    font-size: 15px;
    border-radius: 6px;
}

.btn-two:hover {
    background-color: white;
    color: var(--button-color);
    transition: 400ms;
}

/* notes section started */

.notes {
    text-align: center;
    margin: 3rem 0;
}

.notes h2 {
    font-family: var(--font-family);
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #001931;
    margin: 1rem 0;
}

.notes p {
    font-family: var(--font-family);
    color: #627382;
}

.boxes {
    display: flex;
    gap: .5rem;
    width: 90%;
    margin: auto;
}

.boxes div {
    background-color: aliceblue;
    padding: 34px 24px;
    border-radius: 8px;
    text-align: center;
}

.boxes div img {
    background-color: #f95555;
    padding: 12px 13px;
    border-radius: 65%;
}

.boxes div h5 {
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 500;
    color: #001931;
    margin: 1rem 0;
}

.boxes div p {
    font-family: var(--font-family);
    font-size: 16px;
    color: #627382;
    line-height: 22px;
}

/* brain section start */

.brain {
    margin: 3.5rem 0;
    width: 90%;
    display: flex;
    gap: 21px;
}

.brain img {
    width: 75%;
    height: 100%;
}

.brain-texts {
    /* font-size: large; */
    margin: auto;
}

.brain-texts span {
    font-family: var(--font-family);
    color: var(--button-color);
    font-size: 17px;
    font-weight: 500;
    text-align: left;
}

.brain-texts h3 {
    font-family: var(--font-family);
    font-style: Bold;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    color: #001931;
    margin: 1.7rem 0;
}

.brain-texts p {
    font-family: var(--font-family);
    color: #627382;
}

.list-items {
    margin: 0;
}

.icon-list {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    margin: 0;
}

.icon-list img {
    width: 9%;
    height: 9%;
}

.icon-list h6 {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
    color: #001931;
}